{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="mt-5 mb-5">Liste des athlètes participants aux JO</h1>

    {% for type, messages in app.flashes %}
        <div class="alert alert-{{type}}">
            <ul class="list-group list-group-{{type}}">
                {% for message in messages %}
                    <li class="list-group-item">{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#Photo</th>
                <th>#Nom</th>
                <th>#Prenom</th>
                <th>#Date de naissance</th>
                <th>#Discipline</th>
                <th>#Drapeau</th>
                <th>#Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in athletes %}
                <tr>
                    <td><img src="{{ asset("/img/profil/" ~ obj.photo)}}" alt="{{obj.nom}} {{obj.prenom}}"></td>
                    <td>{{obj.nom}}</td>
                    <td>{{obj.prenom}}</td>
                    <td>{{obj.dateNaissance | date("d/m/Y")}}</td>
                    <td>{{obj.discipline.nom}}</td>
                    <td><img src="{{ asset("/img/profil/" ~ obj.pays.drapeau)}}" alt="{{obj.pays.nom}}"></td>
                    <td>
                        <a href="{{ path("updateAthlete", {id: obj.id})}}"><button class="btn btn-warning">Modifier</button></a>
                        <a href="{{ path("deleteAthlete", {id: obj.id})}}"><button class="btn btn-danger">Supprimer</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas d'athlète d'inscrit pour le moment</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7"><a href="{{ path("createAthlete")}}"><button class="btn btn-primary">Ajouter un athlète</button></a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
